body,html{
    height: 100%;
    background-color: rgb(248, 173, 10);
}

.form-control{
    margin-bottom: 15px;
}

img{
    height: 80px;
    width: 70px;
}

#msgError{
    color: red;
    margin-bottom: 10px;
}

.row{
    padding-top: 1em;
}

.table-overflow{
    max-height: 300px;
    overflow-y: auto;
}